.root {
	-fx-padding: 20 20 20 20;
		-fx-background-color: rgb(238 , 238 , 255);
}



#name {
	-fx-font-size: 1.5em;
}

#comment {
	-fx-font-size: 1.5em;
	-fx-margin-top: 10;
}

#settingsitemlabel {
	-fx-font-size: 1.5em;
}

#comblessons {
	-fx-font-size: 1.5em;
	-fx-background-color: rgb(238 , 238 , 255);
	-fx-color: rgb(238 , 238 , 255);
	-fx-border-color: black;
	-fx-border-width: 1px;
	-fx-alignment: center;
}

#comblessons .list-cell {
    -fx-alignment: center;
}

#button {
	-fx-background-color: #00f;
	-fx-text-fill: white;
	-fx-font-size: 1.5em;
	-fx-padding: 10;
	-fx-min-width: 300;
	-fx-font-weight: 700;
}
