.root {
	-fx-background-color: white;
}

#sidebar  {
	-fx-background-color: #bbbbff;
	
}


#sidebaritem {	
	-fx-background-color: #bbf;
	-fx-min-width: 400px;
	-fx-min-height: 60px;
	-fx-font-size: 2.5em;
	-fx-float: left;
	-fx-padding: 0 0 0 50;
	-fx-text-fill: black;
	-fx-cursor: hand;
}

.sidebaritemdefault {
	-fx-background-color: bbbbff !important;
	-fx-text-fill: black !important;
}

.sidebaritemselected {
	-fx-background-color: #00a !important;
	-fx-text-fill: white !important;
}

#scheduletitlebartitle {
	-fx-font-size: 4em;
	-fx-float: left;
	-fx-padding: 10 50 20 50;
	-fx-text-fill: black;	
	
}

#scheduletitlebaraddbutton {
		-fx-min-height: 50;
		-fx-font-weight: 900;
		-fx-background-color: blue;
		-fx-text-fill: white;
		-fx-font-size: 2em;
		-fx-cursor: hand;
		-fx-padding: 10px;
		-fx-background-radius: 20;
		
		
}

#combschedules {
	-fx-min-height: 50;
	-fx-max-width: infinity;
	-fx-font-size: 2em;
	-fx-border-color: black;
	-fx-background-color: white;
	-fx-border-width: 2px;
}






